<div class="register-container">
  <h1>Crear Cuenta</h1>
  <form (ngSubmit)="onRegister()">
    <div class="form-group">
      <label for="userEmail">Correo:</label>
      <input type="email" id="userEmail" [(ngModel)]="userEmail" name="userEmail" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">Registrar</button>
  </form>
  <p *ngIf="message">{{ message }}</p>
  <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
</div>